<div class="container">
  <div class="card my-5">
    <div class="card-header text-center bg-primary text-white">
      <h1>Modify a Drinking Item</h1>
    </div>
    <div class="card-body">
      <form #foodForm="ngForm">
        <div class="mb-3">
          <label for="txtName" class="form-label">Name</label>
          <input type="text" id="txtName" class="form-control" name="txtName" [(ngModel)]="drinking.name" #name="ngModel"
                 required [minlength]="MIN_LENGTH" [maxlength]="MAX_LENGTH">
          @if (name.invalid && (name.touched || name.dirty)) {
            @if (name.errors?.["required"]) {
              <small class="text-danger">Name is required</small><br>
            }
            @if (name.errors?.["minlength"]) {
              <small class="text-danger">Name must have at least {{ MIN_LENGTH }} </small><br>
            }
            @if (name.errors?.["maxlength"]) {
              <small class="text-danger">Name must have at less than {{ MAX_LENGTH }} chars</small><br>
            }
          }
        </div>
        <div class="mb-3">
          <label for="txtCalories" class="form-label">Milliliters(ml)</label>
          <input type="number" id="txtCalories" class="form-control" name="txtCalories" [(ngModel)]="drinking.milliliters"
                 #milliliters="ngModel" required min="{{MIN_ML}}">
          @if (milliliters.invalid && (milliliters.touched || milliliters.dirty)) {
            @if (milliliters.errors?.["min"]) {
              <small class="text-danger">Calories cannot be less than 0.</small><br>
            }
          }
        </div>
        <div class="mb-4">
          <label for="drinkingPhoto" class="form-label">Photo</label>
          <div class="preview-container mb-3">
            <img [src]="drinking.photo" class="img-preview" *ngIf="drinking.photo">
          </div>
          <button class="btn btn-outline-secondary w-100 mb-2" type="button" id="btnTakePhoto"
                  (click)="onCapturePhotoClick()">Re-photograph</button>
          <button class="btn btn-outline-secondary w-100" type="button" id="btnLoadPhoto" (click)="onLoadFromLibraryClick()">Re-Load from Library</button>
        </div>

        <button type="submit" id="btnUpdate" class="btn btn-success w-100" (click)="onUpdateClick()"
                [disabled]="!drinking.photo || !foodForm.valid">
          <span class="button_text">Update Item</span>
        </button>
      </form>
    </div>
    <div class="card-footer">
      <div class="footer-content">
        <div class="summary">
          Drinking amount per day: 2000 ml
          <br>
          need to drink: {{ calculateRemainingAmount(drinking.milliliters) }} more to go
        </div>
      </div>
    </div>
  </div>
</div>
